body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Cinzel', sans-serif;
  color:white;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: red;
}

.btn {
  font-family: 'Cinzel', sans-serif;
  background-color: darkred;
  color:white;
}
.btn-2 {
  font-family: 'Cinzel', sans-serif;
  background-color: white;
  color: darkred;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.page-section {
  padding: 5rem 0;
}

.bg-1 {
  background-color: darkred;
  box-shadow: inset 0 0 25px black;
}

.bg-2 {
  background-color: white;
  color: black;
  font-weight: bold;
  box-shadow: inset 0 0 25px black;
}


header.masthead {
  padding-top: 10rem;
  padding-bottom: 13rem; /* change this for bg image stretching*/
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2.25rem;
}
@media (min-width: 100%) {
  header.masthead {
    height: 100vh;
    min-height: 70rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.5rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}

.chin {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 3.5rem;
  color: red;
}

.title {
  font-family: 'Cinzel';
  font-size: 3.5rem;
  color: white;
}

.menu-text {
  font-family: 'Arial';
  font-size: 1rem;
  color: white;
}

.press-title {
  font-family: 'Cinzel';
  font-size: 1.5rem;
  color: darkred;
  font-weight: bold;
}

.press-text {
  font-family: 'Arial';
  font-size: 0.85rem;
  font-weight: 1;
  color: black;
}


.nav-item, .nav-link {
  font-family: 'Arial';
  font-size: 1.1rem;
  color: white;
}

.nav-item:active, .nav-link:active {
  color: white;
}
.nav-item:hover, .nav-link:hover {
  color: lightgrey;
}

.logo-link {
  font-family: 'Cinzel';
  font-size: 3.5rem;
  color: white;
}

.logo-link:active {
  color: white;
  text-decoration: none;
}
.logo-link:hover {
  color: white;
  text-decoration: none;
}

table {
  color: white;
  text-align: center;
}

tr td {
  text-align: left;
  width: 5%;
  white-space: nowrap;
  border-bottom: 1px dotted #fff;
}